/* Styling for the cards */

#card {
    width: 40%;
    border-radius: 5%;
    background-color: #2f4454;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
                -5px -5px 10px hsla(206, 15%, 57%, 0.15);

    padding: 10px;
    margin: 20px;
}

.btn-card {
    width: 50%;
}

#card img {
    width: 100%;
}