/* Design System */

/* Css reset */
* {
    color: #fff;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Add Background color for pages */
html {
    background-color: #2F4454;
}

/* Page Layout */
.main-head {
    text-align: center;
    padding: 10px;
}

.design {
    display: flex;
}

.dark {
    width: 50%;
    padding: 2%;
}

.light-bg {
    background-color: #fff;
    width: 50%;
    padding: 2%;
}

/* Headers */
h2 {
    font-family: museo-slab, sans-serif;
    font-weight: 900;
}

/* Light Headers */
.light {
    color: #2F4454;
}

/* Links */

a:hover {
    text-decoration: underline;     
}
  
a.link-dark {
    padding: 0 4px;
    color: #fff;
    text-decoration: underline #DA7B93 3px;
}

a.link-light {
    padding: 0 4px;
    color: #2F4455;
    text-decoration: underline #DA7B93 3px;
}

/* Buttons */
button {
    cursor: pointer;
    background: none;
    padding: 4px 8px;
    border-radius: 25px;
    border: solid 1.5px #fff;
    transition: ease .5s;
}

.btn-dark:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px hsla(206, 15%, 57%, 0.25);
}

.btn-light {
    color: #2F4455;
    border-color: #2F4455;
}

.btn-light:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px hsla(206, 15%, 57%, 0.25);
}

.filled {
    background-color: #376E70;
    color: #fff;
    border-color: #376E70;
}

/* Color Swatches */
.colors {
    display: flex;
    margin-top: 20px;
}

.swatch {
    padding: 40px 15px;
    margin: 1%;
    border-radius: 50%;
}

.dark-blue {
    background-color: #2F4455;
    border: solid 1px #fff;
}

.light-green {
    background-color: #376E70;
}

.pink {
    background-color: #DA7B93;
    color: #000;
}