/* import the other CSS rules */
@import "card.css";

/* reset the css before designing */
* {
    color: #fff;
    background-color: #2F4454;
    font-family: museo-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

#logo {
    font-family: museo-slab, serif;
    font-weight: 800;
    font-style: normal;
}




