/* import the other CSS rules */
@import "nav.css";
@import "card.css";
@import "design.css";
@import "blogpage.css";

a:hover {
  text-decoration: underline;     
}

a.link-dark {
    color: #da7b93;
}

#logo {
    font-family: museo-slab, serif;
    font-weight: 800;
    font-style: normal;
}




