header {
    position: fixed;
    width: 100vw;
    z-index: 2;
}
nav {
    display: flex;
    width: 100%;
    background: #2F4454;
    padding: 12px 12px 12px 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
}

nav ul {
    display: flex;
    margin-right: 40px;
}

li {
    margin: 0 5px;
}

#logo {
    font-family: museo-slab, serif;
    font-weight: 800;
    font-style: normal;
}